/* general style */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-family: sans-serif;
}

.pretty-upload {
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 300px;
    font-size: 20px;
    border:  4px dashed #43a047;
    border-radius: 8px;
}

.contineer{
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
}


.noneDisplay{
    display: none !important;
}


::-webkit-scrollbar {
    display: none;
  }
/* sidebar section style */
.sidebar{
    position: fixed;
    width: 300px;
    background-color: #43a047;
    height: 100%;
}

.sidebar .row{
    display: flex;
    height: 100vh;

}

.sidebar ul li {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

}

.sidebar ul li a{
    text-decoration: none;
    color: #fff;
}

.sidebar ul li.liActive a{
    color: #43a047;
}

.sidebar .col1 ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar .col1 ul li.liActive{
    background-color: #fff;
}

.sidebar .col1 ul li .icon img{
    width: 30px;
}

.sidebar .col2{
    background-color: #fff;
    width: 100%;
    padding-top: 50px;
    overflow-y: scroll;
}

.sidebar .col2::-webkit-scrollbar{
    display: none;
}

.sidebar .col2 ul.ulNum-1 span{
    color: #43a043;
    font-size: 14px;
    font-weight: 700;
}

.sidebar .col2 ul li{
    padding: 15px;
    width: 100%;
}

.sidebar .col2 ul li .liHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.sidebar .col2 ul li .liHeader img{
    width: 30px;
}

.sidebar .col2 ul li .liHeader p{
    font-size: 26px;
    font-weight: 300;
    line-height: 2;
    cursor: pointer;
    text-align: left;
    width: 120px;
    color: #666;
}

.sidebar .col2 ul .liHeader{
    position: relative;
}
.sidebar .col2 ul li .resizeCont{
    top: 20%;

}
.sidebar .col2 ul li .cropCont{
    top: 216px;
}
.sidebar .col2 ul li .resizeCont,
.sidebar .col2 ul li .cropCont{
    background-color: #fff;
    position: absolute;
    right: 1px;

    width: 78%;
    height: 100%;
    padding: 20px 10px;
    color: #666;
    z-index: 99;
    transition: 0.5s all ease-in-out;
}

.sidebar .col2 ul li .disable{
    top: 200%;
}

.sidebar .col2 ul li  p{
    font-size: 14px;
}

.sidebar .col2 ul li .resizeCont select{
    width: 210px;
    height: 25px;
    padding: 2px;
    margin: 20px 0;
    border: 1px solid #43a047;
    outline: none;
}

.OR{
    font-size: 20px !important;
    font-weight: 700;
    color: #43a043;
    margin: 10px auto;
}

.sidebar .col2 ul li .resizeCont .resizeInput{
    display: flex;
    width: 210px;
    justify-content: space-between;
    margin: 20px 0;
}

.sidebar .col2 ul li .resizeCont .resizeInput .widthinput,
.sidebar .col2 ul li .resizeCont .resizeInput .heightinput {
    width: 100px;
}

.sidebar .col2 ul li .resizeCont .resizeInput input{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #43a047;
    outline: none;
}

.sidebar .col2 ul li .resizeCont .resizeInput p{
    margin: 0 0 8px 0;
}

.sidebar .col2 ul li .Resizebtn{
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.sidebar .col2 ul li .Resizebtn button{
    width: 100px;
    outline: none;
    border: none;
    background-color: #43a043;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}


/* upload image contineer style */
.primContineer{
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload{
    width: 500px;
    height: 300px;
    display: flex; 
    justify-content: center ;
    align-items: center;
    align-content: center;
    text-align: center;
}

.upload p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload p input{
    display: none;
}

.disableUpload{
    display: none !important;
}

.cont, .framesCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.framesCont span{
    color: #43a043;
    font-size: 14px;
    font-weight: 700;
}

.cont.hidden{
    display: none;
}

.cont .imageCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #43a047;
    color: #fff;
    border-radius: 8px;
}

.cont .imageCont img{
    width: 250px;
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cont .imageCont span{
    margin: 5px 0 5px;
}

.cont .imageCont span.selectIcon{
    background-color: #fff;
    position: absolute;
    margin-right: -200px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    border: 3px solid #43a047;
    cursor: pointer;
}

.cont .imageCont span.bgFill{
    background-color: #43a043;
}

.moreUpload{
    width: 250px;
    height: 170px;
    line-height: 160px;
}

.frameUpload{
    width: 205px;
    height: 100%;
    line-height: 160px;   
    font-size: 12px;
    margin: 16px;    
}

.frameUpload input{
    display: none;
}

.framesCont li img{
    width: 100%;
}

.popUp{
    width: 60%;
    height: 80%;
    position: fixed;
    left: calc(50% +  160px);
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.closePopUp{
    direction: rtl;
    padding: 20px 20px 0 20px;
    font-size: 28px;
    color: #666;
    cursor: pointer;
    display: inline;
}

.mainImg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 20px;
    color: #666;

}
.mainImg .pre,
.mainImg .nex{
    cursor: pointer;
}

.mainImg .img{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 350px;
}

.mainImg img{
    width: 75%;
    max-height: 100%;
}

.elseImg{
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px;
}
.elseImg img{
    width: 150px;
    height: 90px;
    border: 3px solid #43a043;
    border-radius: 6px;
    opacity: 0.5;
}
.popUp.disable{
    display: none;
}

.moreUpload input{
    display: none;
}

.cropCont p{
    font-size: 14px !important;
    padding: 16px 0 0;
    font-weight: 500;
}

.btnSec{

    width: 210px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}


.btnSec button{
    width: 100px;
    outline: none;
    border: none;
    background-color: #43a043;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}


.hiddenSidebar{
    width: 0 !important;
    display: none !important;
}